h1, h2 {
    text-align: center;
    font-family:'Avenir', sans-serif;
}
#tooltip {
    font-family: 'Avenir', sans-serif;
    font-weight: bold;
}

svg {
    border: 1px solid #ccc;
  }
  
text {
    font-family: 'Avenir', sans-serif;
}

.yAxis .domain {
    stroke: #bbb;   
}

.yAxis .tick line {
    stroke: #bbb;
    stroke-width: 0.5;
    stroke-dasharray: 4, 2;
}

.xAxis .domain {
    stroke: #bbb;   
}

.xAxis .tick line {
    stroke: #bbb;
    stroke-width: 0.5;
    stroke-dasharray: 4, 2;
}

.axisLabel {
    font-size: 12px;
    font-weight: bold;
    color: #555;
}

.chart-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    row-gap: 20px
}

.chart-inner-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chart-column {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}
.flex-item {
    margin: 10px, 10px, 10px, 10px
}
button {
    color: rgb(77, 75, 75);
    font-weight: bold;
    background-color: rgb(158, 201, 244);
    border-color: dodgerblue;
    cursor: pointer;
}
button:hover {
    font-weight: bold;
    background-color: dodgerblue;
    cursor: pointer;
}

.series-labels:hover, .line-series:hover {
    cursor: pointer;
}

#scatter-plot {
    margin-top: 21px;
}